<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="URDF_FINGERS_4DOF-torsion_test">
  <link
    name="MCP_Interface">
    <inertial>
      <origin
        xyz="-0.011784 -0.00060037 0.00097874"
        rpy="0 0 0" />
      <mass
        value="0.004148" />
      <inertia
        ixx="2.903E-07"
        ixy="-5.3855E-10"
        ixz="-3.6156E-08"
        iyy="3.0084E-07"
        iyz="-1.8421E-09"
        izz="3.0753E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./meshes/MCP_Interface.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./meshes/MCP_Interface.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="MCP2">
    <inertial>
      <origin
        xyz="0.0022789 0.00058372 0.00039511"
        rpy="0 0 0" />
      <mass
        value="0.0049061" />
      <inertia
        ixx="1.8781E-07"
        ixy="-1.1662E-08"
        ixz="2.4463E-09"
        iyy="3.2231E-07"
        iyz="1.7633E-09"
        izz="4.3178E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./meshes/MCP2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./meshes/MCP2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="MCP2"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="MCP_Interface" />
    <child
      link="MCP2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="MCP">
    <inertial>
      <origin
        xyz="0.020088 -0.00028562 0.00086695"
        rpy="0 0 0" />
      <mass
        value="0.0086719" />
      <inertia
        ixx="3.0958E-07"
        ixy="-1.0016E-07"
        ixz="-2.3558E-09"
        iyy="1.6234E-06"
        iyz="7.6344E-10"
        izz="1.5092E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./meshes/MCP.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./meshes/MCP.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="MCP"
    type="revolute">
    <origin
      xyz="0.01175 0 0"
      rpy="-1.5708 0 0" />
    <parent
      link="MCP2" />
    <child
      link="MCP" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="PIP">
    <inertial>
      <origin
        xyz="0.01267 -0.00050957 0.00074352"
        rpy="0 0 0" />
      <mass
        value="0.0045258" />
      <inertia
        ixx="1.6699E-07"
        ixy="-5.6381E-08"
        ixz="-1.0123E-08"
        iyy="4.6314E-07"
        iyz="-7.909E-10"
        izz="4.1422E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./meshes/PIP.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./meshes/PIP.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="PIP"
    type="revolute">
    <origin
      xyz="0.042 -0.00075 0"
      rpy="0 0 0" />
    <parent
      link="MCP" />
    <child
      link="PIP" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="DIP">
    <inertial>
      <origin
        xyz="0.011629 -0.00065192 0.00010443"
        rpy="0 0 0" />
      <mass
        value="0.0047629" />
      <inertia
        ixx="1.744E-07"
        ixy="8.7284E-09"
        ixz="2.5375E-09"
        iyy="3.6572E-07"
        iyz="8.2022E-10"
        izz="3.4776E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./meshes/DIP.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./meshes/DIP.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="DIP"
    type="revolute">
    <origin
      xyz="0.026 -0.0005 0"
      rpy="0 0 0" />
    <parent
      link="PIP" />
    <child
      link="DIP" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>